
{{!-- <h3>PROJECTS:</h3> --}}

{{#if screenshot}}

 
  
    <div class="home">
      {{#projectsData}}
    <div class="home-image"><a href="/projects/{{directory}}"><img src='/{{directory}}/screenshot.png' width="320"><div class="home-title">{{title}}</div></a></div>
    {{/projectsData}}
   </div>
 
  
   

{{else}}

  {{#projectsData}} 


    <a href="{{directory}}"><p class="navbar">{{title}}</p></a>  


{{/projectsData}}


    {{/if}}
