 {{>projectlist}}

{{!-- <h3>PROJECTS:</h3> --}}


{{!-- {{#projectsData}}
<div id="navbar">
    <a href="{{directory}}">{{title}}</a>  
</div>
{{/projectsData}} --}}

 

{{#selectedProject}}
<div id="description">
    <h2>{{title}}</h2>
    <figure><img src='/{{directory}}/screenshot.png' width="600"><figcaption>{{description}}</figcaption></figure>
   <a href="{{directory}}">{{title}}</a>
</div>
{{/selectedProject}}

